* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: keep-all;
}

body {
  background: #ccd8e5;
}

a {
  text-decoration: unset;
  color: #202020;
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}